body{
	margin: 0;
	padding: 0;
	font-family:Georgia, 'Times New Roman', Times, serif;
	background: linear-gradient(to right,#ff9,#046D04);
	font-size:18px;
    letter-spacing: 1px;
}
.topnav{
	background-color: green;
	overflow: hidden;
	margin: auto;
	
}
ooter h3{
	margin-top:2rem;
	text-align:center;
	font-size:23px;
	font-weight:bold;
}
i{
	padding:5px;

}

}
navbar{
	text-align: center;
	font-weight: bold;
}
.heading-4{
    font-weight:bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.topnav a{
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.topnav a:hover{
	background-color: #ddd;
	color: black;
}
.topnav a.active{
	background-color: darkgreen;
	color: white;
}
.topnav .icon{
	display: none;
}
@media screen and (max-width: 600px){
	.topnav a:not(:first-child){
		display: none;
	}
	.topnav a.icon{
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px){
	.topnav.responsive{
		position: relative;
	}
	.topnav.responsive .icon{
		position: relative;
		right: 0;
		top: 0;
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: left;
	}
}
.contact p2{
	color: yellow;
	text-align: center;
}
.row{
	background-image:url('../images/seku2.jpg');
	align-content: center;
	background-position: center;
	background-size: cover;
	background-repeat:no-repeat;
	width:auto;
	
	
	
}
.contact-us{
	background-color: rgba(0, 0, 0, 0.95);
	margin-right: auto;
	padding: 7px;
	margin-bottom:15px;
	margin-top:15px;
}
.contact-form{
	background-color: rgba(0, 0, 0, 0.95);
	margin-left:auto;
	margin-right:10px;
	padding: 7px;
	margin-bottom:15px;
	margin-top:15px;
}
.social_icons{
	margin-left:1em;
}
ul .logo{
    display: block;
    padding: 0;
    margin-top: .55em;
}
.logo li{
	display:inline-block;
}
.logo li a{  
    display: block;
    height: 30px;
    width: 30px;
    margin-right: 1em;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
	margin-right: 1em;
	-webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    line-height: 30px;
	color:#fff;
	text-align:center;
}
.logo li a.fa.fa-facebook.icon-border.facebook{
	 background: blue; 
}
.logo li a.fa.fa-twitter.icon-border.twitter{
	 background: skyblue;
}
.logo li a.fa.fa-google-plus.icon-border.googleplus{
	 background: maroon;
}
.logo li a:hover{
	text-decoration:none;
	opacity:0.8;
}
.contact .contact-us p{
	font-size: 15px;
	letter-spacing: 1px;
    font-weight: normal;
    padding-bottom: 10px;
    line-height: 29px;
    color: #fff;
}
.contact .contact-us p strong{
	 font-family: 'Federo', sans-serif;
    letter-spacing: 1.5px;
    color: yellow;
	font-size: 16px;
}
.contact .contact-us p a {
	color:#fff;
}
.contact h2 {
	font-size: 35px;
	letter-spacing: 1.5px;
	font-weight: normal;
	color: #fff;
	padding-bottom: 20px;
	font-family: 'Federo', sans-serif;
	text-align: center;
}
.contact p {
	font-size:16px;
	font-weight:normal;
	padding-bottom:20px;
	line-height:30px;
	color:#ffce14;
	text-align:center;
}
.contact label {
    font-size: 17px;
	letter-spacing: 1px;
    font-weight: 300;
    color:#fff;
    padding-bottom: 10px;
	font-family: 'Federo', sans-serif;
}
.form-group {
    margin-bottom: 5px;
}
.contact input#name, .contact input#email, .contact input#phone  {
	height:37px;
}
.contact input#name, .contact input#email, .contact input#phone, .contact input#comment{
	font-size:17px;
	font-weight:normal;
	color:#fff;
	background-color:transparent;
	border-radius:0;
	border-color:#fff;
	font-family: 'Lato', sans-serif;
}
.contact button.btn.btn-primary {
	color: yellow;
    background-color: transparent;
    border: 2px solid yellow;
    font-size: 17px;
    padding: 10px 20px;	
	width:100%;
	font-family: 'Federo', sans-serif;
	margin: 25px 0 8px;
}
.contact button.btn.btn-primary:hover {
	color: #fff;
    background-color: yellow;
    border: 2px solid yellow;
}
.contact iframe {
	width: 100%;
    height: 190px;
    margin-top: 1.5em;
    outline: none;
    border: none;
}
.content{
		padding-left:10rem;
		padding-top:3em;
		background-color:#046d04;
		color: white;
	
}
.content .btn{padding:5px;
	margin-left:2px;}

	.content input{
	padding:4px;
	margin-top:3px;}
	footer h2{margin-bottom:1em;
	text-align:center;
	padding-bottom:5px;
	}
	.footer{
		align-content: center;
	background-position: center;
	background-size: cover;
	background-repeat:no-repeat;
	width:auto;
	margin-right:5em;
	
	}
	.cust {
		
		position:absolute;
		margin-top:10px;
		margin-left:5px;
	}
	.contact.form-control{
		padding-left:5rem;
	}